h1{
  font-family: serif;
  font-size: 48px;
  text-align: center;
}
h2{
  margin: 20px; 
}
h3{
  margin: 20px;
}
h4{
  margin: 20px;
}
h5{
  margin: 20px;
}
h6{
  margin: 20px;
}
h7{
  margin: 20px;
}
h8{
  margin: 20px;
}
h9{
  margin: 20px;
}
h10{
  margin: 20px;
}
h11{
  margin: 20px;
}
p{
  text-indent: 30px;
  color: blue;
}
