main{
  background-color: green;
}
body{
  background-color: yellow;
}
h1{
  font-family: 'Redressed', cursive;
  font-size: 48px;
  text-align: center;
}
div{
  font-family: 'Anton', sans-serif;
  font-size: 32px;
  margin: 20px;
}
p{
  text-indent: 30px;
  color: blue;
}
