body {
  background: linear-gradient(120deg, #B7B1F0 60%, #A39FD6 60%);
}

h1 {
  font-family: 'Playfair Display', serif;
  text-shadow: 2px 2px #FBF4D3;
  font-weight: 600;
  font-variant: small-caps;
  padding: 10px;
  font-size: 100px;
  line-height: 1em;
  text-align: center;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-variant: small-caps;
  font-style: italic;
  margin: 50px 0 0 200px;
  font-size: 70px;
  text-align: left;
}

.rules {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-variant: small-caps;
  font-size: 50px;
  color: #FBF4D3;
  background-color: transparent;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin: 50px 400px 20px 400px;
  text-align: left;
  line-height: 2em;
  border: dotted;
  padding: 1em;
  border-width: 6px;
  border-color: #FBF4D3;
}
